{
  "extends": ["eslint:recommended"],
  "parserOptions": {
    "ecmaVersion": 13,
    "sourceType": "module"
  },

  "rules": {
    "max-len": ["error", { "code": 140 }],
    "no-console": "error",
    "require-jsdoc": 0,
    "linebreak-style": 0,
    "strict": 0
  },
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {
    "expect": true,
    "assert": true,
    "jest": true
  }
}
